
.DS_Store
data/raw/tests/test_with_coordinates_j144_j259_lipper_ziegler_database_folia_links_added.csv
data/raw/tests/simple_test.csv
data/raw/tests/lippische_ziegler_folia_interpretations_aggregated_all_signaturen.csv
data/raw/test_with_coordinates_j144_j259_lipper_ziegler_database_folia_links_added.csv
data/raw/simple_test.csv
data/raw/test_with_coordinates_j144_j259_lipper_ziegler_database_folia_links_added.csv
data/raw/simple_test.csv
data/raw/test_with_coordinates_j144_j259_lipper_ziegler_database_folia_links_added.csv
data/raw/test_with_coordinates_j144_j259_lipper_ziegler_database_folia_links_added.csv
data/raw/test_with_coordinates_j144_j259_lipper_ziegler_database_folia_links_added.csv
data/raw/simple_test.csv
data/raw/test_with_coordinates_j144_j259_lipper_ziegler_database_folia_links_added.csv
